include tailwind/_mixins
include _mixins

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous")
    link(href='/styles.css' rel='stylesheet')
    title #{title}
  body.text-gray-600.h-full.bg-gray-50.dark_bg-gray-800
    .container-fluid.w-screen
      +tw-navbar-gray()(class="dark_bg-gray-50")
        .flex-1.flex.items-center.justify-center(class='sm_items-stretch sm_justify-start')
          .flex-shrink-0.flex.items-center
            img.block.h-8.w-auto(class='lg_hidden' src='https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg' alt='Workflow')
            img.hidden.h-8.w-auto(class='lg_block' src='/images/pug-tailwind.svg' alt='Workflow')
          .hidden(class='sm_block sm_ml-6')
            .flex.space-x-4
              +tw-nav-link-gray("/",active) Home
              +tw-nav-link-gray("/forms",active) Forms
              +tw-nav-link-gray("/tables",active) Tables
              +tw-nav-link-gray("/navbars",active) Navbars
              +tw-nav-link-gray("/buttons",active) Buttons
              +tw-nav-link-gray("/badges",active) Badges
      block body

    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-pug.min.js" integrity="sha512-XD6TeQjUw74fhnUn1Zm0rVIfLSukvTlCryaAKbM1LfxOmE1Mt+VoyxuInVQvp1f77FrsI97cOkQWsqxSOa1e+w==" crossorigin="anonymous")
