extends _layout
block body
  .max-w-7xl.mx-auto.px-2(class='sm_px-6 lg_px-8')
    h1.text-2xl Badges

    p
      +badge-green('Green')
      +badge-red('Red')
      +badge-blue('Blue')
      +badge-gray('Gray')
      +badge-yellow('Yellow')
      +badge-indigo('Indigo')
      +badge-purple('Purple')
      +badge-pink('Pink')

