extends _layout
block body
  .max-w-7xl.mx-auto.px-2(class='sm_px-6 lg_px-8')
    h1.order-1.text-gray-900.text-3xl.font-extrabold.tracking-tight.mt-2 Buttons

    p.text-xl Normal Buttons
    .my-4.mx-4.demo
      +tw-btn-gray() Gray Button
      +tw-btn-red() Red Button
      +tw-btn-yellow() Yellow Button
      +tw-btn-green() Green Button
      +tw-btn-blue() Blue Button
      +tw-btn-indigo() Indigo Button
      +tw-btn-purple() Purple Button
      +tw-btn-pink() Pink Button

    +prism()
      | +tw-btn-gray() Gray Button
      | +tw-btn-red() Red Button
      | +tw-btn-yellow() Yellow Button
      | +tw-btn-green() Green Button
      | +tw-btn-blue() Blue Button
      | +tw-btn-indigo() Indigo Button
      | +tw-btn-purple() Purple Button
      | +tw-btn-pink() Pink Button

    h2.font-medium.text-gray-900.mt-4 Extra-Small Buttons
    .my-4.mx-4.demo
      +tw-btn-xs-gray() Gray Button
      +tw-btn-xs-red() Red Button
      +tw-btn-xs-yellow() Yellow Button
      +tw-btn-xs-green() Green Button
      +tw-btn-xs-blue() Blue Button
      +tw-btn-xs-indigo() Indigo Button
      +tw-btn-xs-purple() Purple Button
      +tw-btn-xs-pink() Pink Button

    +prism()
      | +tw-btn-xs-gray() Gray Button
      | +tw-btn-xs-red() Red Button
      | +tw-btn-xs-yellow() Yellow Button
      | +tw-btn-xs-green() Green Button
      | +tw-btn-xs-blue() Blue Button
      | +tw-btn-xs-indigo() Indigo Button
      | +tw-btn-xs-purple() Purple Button
      | +tw-btn-xs-pink() Pink Button

    p.text-xl Large Buttons
    .my-4.mx-4.demo
      +tw-btn-lg-gray() Gray Button
      +tw-btn-lg-red() Red Button
      +tw-btn-lg-yellow() Yellow Button
      +tw-btn-lg-green() Green Button
      +tw-btn-lg-blue() Blue Button
      +tw-btn-lg-indigo() Indigo Button
      +tw-btn-lg-purple() Purple Button
      +tw-btn-lg-pink() Pink Button

    +prism()
      | +tw-btn-lg-gray() Gray Button
      | +tw-btn-lg-red() Red Button
      | +tw-btn-lg-yellow() Yellow Button
      | +tw-btn-lg-green() Green Button
      | +tw-btn-lg-blue() Blue Button
      | +tw-btn-lg-indigo() Indigo Button
      | +tw-btn-lg-purple() Purple Button
      | +tw-btn-lg-pink() Pink Button

    p.text-xl Light Buttons
    .my-4.mx-4.demo
      +tw-btn-light-xs-gray() Gray Button
      +tw-btn-light-xs-red() Red Button
      +tw-btn-light-xs-yellow() Yellow Button
      +tw-btn-light-xs-green() Green Button
      +tw-btn-light-xs-blue() Blue Button
      +tw-btn-light-xs-indigo() Indigo Button
      +tw-btn-light-xs-purple() Purple Button
      +tw-btn-light-xs-pink() Pink Button

    +prism()
      | +tw-btn-light-xs-gray() Gray Button
      | +tw-btn-light-xs-red() Red Button
      | +tw-btn-light-xs-yellow() Yellow Button
      | +tw-btn-light-xs-green() Green Button
      | +tw-btn-light-xs-blue() Blue Button
      | +tw-btn-light-xs-indigo() Indigo Button
      | +tw-btn-light-xs-purple() Purple Button
      | +tw-btn-light-xs-pink() Pink Button



    p.text-xl Round Buttons
    .my-4.mx-4.demo
      +tw-btn-round-xs-gray() Gray Button
      +tw-btn-round-xs-red() Red Button
      +tw-btn-round-xs-yellow() Yellow Button
      +tw-btn-round-xs-green() Green Button
      +tw-btn-round-xs-blue() Blue Button
      +tw-btn-round-xs-indigo() Indigo Button
      +tw-btn-round-xs-purple() Purple Button
      +tw-btn-round-xs-pink() Pink Button

    +prism()
      | +tw-btn-round-xs-gray() Gray Button
      | +tw-btn-round-xs-red() Red Button
      | +tw-btn-round-xs-yellow() Yellow Button
      | +tw-btn-round-xs-green() Green Button
      | +tw-btn-round-xs-blue() Blue Button
      | +tw-btn-round-xs-indigo() Indigo Button
      | +tw-btn-round-xs-purple() Purple Button
      | +tw-btn-round-xs-pink() Pink Button

    p.text-xl Outline Buttons - xs
    .my-4.mx-4.demo
      +tw-btn-outline-xs-gray() Gray Button
      +tw-btn-outline-xs-red() Red Button
      +tw-btn-outline-xs-yellow() Yellow Button
      +tw-btn-outline-xs-green() Green Button
      +tw-btn-outline-xs-blue() Blue Button
      +tw-btn-outline-xs-indigo() Indigo Button
      +tw-btn-outline-xs-purple() Purple Button
      +tw-btn-outline-xs-pink() Pink Button

    +prism()
      | +tw-btn-outline-xs-gray() Gray Button
      | +tw-btn-outline-xs-red() Red Button
      | +tw-btn-outline-xs-yellow() Yellow Button
      | +tw-btn-outline-xs-green() Green Button
      | +tw-btn-outline-xs-blue() Blue Button
      | +tw-btn-outline-xs-indigo() Indigo Button
      | +tw-btn-outline-xs-purple() Purple Button
      | +tw-btn-outline-xs-pink() Pink Button

    p Similarly you have mixins for various other sizes and colors.

    +prism()
      | +tw-btn-outline-sm-gray() Gray Button
      | +tw-btn-outline-red() Red Button
      | +tw-btn-outline-lg-yellow() Yellow Button
      | +tw-btn-outline-xl-green() Green Button
      | +tw-btn-outline-2xl-blue() Blue Button
      | +tw-btn-outline-3xl-indigo() Indigo Button
      | +tw-btn-outline-4xl-purple() Purple Button
      | +tw-btn-outline-5xl-pink() Pink Button

