extends _layout
include tailwind/_mixins
block body
  .max-w-7xl.mx-auto.px-2(class='sm_px-6 lg_px-8')
    h1.text-3xl Navbar
    +tw-navbar-gray()
      include _sample-navbar
    +tw-navbar-red()
      include _navlinks-red
    +tw-navbar-yellow()
      include _navlinks-yellow
    +tw-navbar-green()
      include _navlinks-green
    +tw-navbar-blue()
      include _navlinks-blue
    +tw-navbar-indigo()
      include _navlinks-indigo
    +tw-navbar-purple()
      include _navlinks-purple
    +tw-navbar-pink()
      include _navlinks-pink
